/*===IMAGEBOX===*/
.imagebox_wrapper {
  width: 100%;
  margin-bottom: 10px;
  overflow: auto;
}

.imagebox {
  width: 50%;
  *width: 49.9%; //IE7
  float: left;

  img {
    width: 100%;
    display: block;

    &:hover {
      // HOVER ANIMATION HERE
    }
  }
}

.imagebox_open img {
  width: 100%;
  cursor: pointer;
}

@media (min-width: 480px) {
  .imagebox {
      width: 25%;
  }
}

@media (min-width: 720px) {
  .imagebox {
      width: 25%;
  }
}

@media (min-width: 1024px) {
  .imagebox {
      width: 12.5%;
  }
}