## Sub-directory redirects
Redirect /blog/ http://blog.jalproductions.co.uk

## Add .php to access file, but don't redirect
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule (.*) $1\.php [L]